/*
modified and reduced from
https://github.com/quarto-dev/quarto-cli/tree/main/src/resources/formats/revealjs/plugins/line-highlight
*/

/* for source-line-numbers */
div.sourceCode pre code.has-line-highlights > span:not(.highlight-line) {
  opacity: 0.4;
}

/* for output-line-numbers */
div.sourceCode pre.highlight code.has-line-highlights > span:not(.highlight-line) {
  opacity: 0.4;
}

/* Adding hovering effect */
/* from https://github.com/shafayetShafee/line-highlight/issues/1#issue-1639343001 by @GShotwell*/

div.sourceCode:hover pre code.has-line-highlights > span:not(.highlight-line) {
  opacity: 0.4;
}


div.sourceCode:hover pre code.has-line-highlights > span.highlight-line {
  font-weight: 600;
}


div.sourceCode:hover pre.highlight code.has-line-highlights > span:not(.highlight-line) {
  opacity: 0.4;
}

div.sourceCode:hover pre.highlight code.has-line-highlights > span.highlight-line {
  font-weight: 600;
}